<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang = "en">
<head>
    <title>Categories</title>
</head>
<body>
<h1>Categories</h1>
<a href="/templates/categories/create">Add New Category</a>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
        <td>
            <a th:href="@{/templates/categories/edit/{id}(id=${category.id})}">Edit</a>
            <a th:href="@{/templates/categories/delete/{id}(id=${category.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
